.progressControlContainer {
  width: 50%;

  .buttonGroup {
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 20px;
    border-top: 1px solid #e6e6e8;;
    padding-top: 24px;


    .next,
    .ordered {
      grid-column: 3/4;
      grid-row: 1/1;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 174px;
      height: 46px;
      font-size: 14px;
      font-weight: 500;
      line-height: 17px;
      border: 0px solid;
      border-radius: 1em;
      background: #F67599;
      color: #ffffff;
      margin-left: auto;
      cursor: pointer;
    }
    .prev {
      grid-column: 1/2;
      grid-row: 1/1;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 0px solid;
      border-radius: 1em;
      background-color: transparent;
      line-height: 20px;
      font-weight: 400;
      color: #000000;
      cursor: pointer;
      visibility: hidden;
    }
    .ordered {
      display: none;
    }
  }
}

.rightArrow,
.leftArrow {
  width: 24px;
  height: 24px;
}

.rightArrow {
  margin-left: 12px;
}

.leftArrow {
  margin-right: 12px;
}
