.step1Address {
  display: flex;
  flex-flow: column wrap;

  .title {
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    margin: 30px 0 0 0;
  }

  .formBody {
    display: flex;
    max-width: 94%;
    flex-flow: column wrap;

    .bodyContent1,
    .bodyContent2 {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;

      .inputGroup1,
      .inputGroup2,
      .inputGroup {
        margin-top: 24px;

        .inputLabel {
          font-weight: bold;
          font-size: 12px;
          line-height: 16px;
          color: #808080;
          margin-bottom: 8px;
        }

        .selectContainer {
          position: relative;

          &::after {
            position: absolute;
            top: 50%;
            right: 12px;
            transform: translateY(-50%);
            z-index: -2;
            pointer-events: none;
            border-style: solid;
            border-width: 6px 5px 0 5px;
            border-color: #000000;
            content: "";
          }
        }
      }
      .inputGroup1 {
        width: 32%;
      }
      .inputGroup2 {
        width: 64%;
      }
    }

    .bodyContent2 {
      .inputGroup {
        width: 45%;
      }
    }
  }

 
}

.inputs {
  width: 100%;
  padding: 12px 16px;
  border-radius: 4px;
  font-size: 12px;
  line-height: 16px;
  border: 1px solid #4a4a4a;
  cursor: pointer;
  -webkit-appearance: none;
}
