.registerContainer {
  display: flex;
  flex-direction: column;
  flex: 0 0 50%;
  align-items: flex-start;
  max-width: 100%;
  margin-left: 2rem;

  regitsterTitile {
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #2a2a2a
  }

}