.progressControlContainer {
  display: flex;
  flex-flow: column wrap;
  flex: 0 0 100%;
  align-content: flex-start;
  max-width: 100%;;

  .buttonGroup {
    display: flex;
    margin-top: 20px;
    border-top: 1px solid #e6e6e8;;

    .next {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 174px;
      height: 46px;
      font-size: 14px;
      font-weight: 500;
      line-height: 17px;
      border: 0px solid;
      border-radius: 1em;
      background: #F67599;
      color: #ffffff;
      margin-left: auto;
    }
    .prev {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 0px solid;
      border-radius: 1em;
      background-color: transparent;
      line-height: 20px;
      font-weight: 400;
      color: #000000;
    }
  }
}

.cursorPoint {
  cursor: pointer;
}
